server {
    listen 80;
    listen [::]:80;
    server_name aeroclim.localhost;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;
    server_name aeroclim.localhost;

    root /home/amristar/Dev/aeroclim;
    index index.html;

    ssl_certificate /home/amristar/.local/share/aeroclim-https/aeroclim.pem;
    ssl_certificate_key /home/amristar/.local/share/aeroclim-https/aeroclim-key.pem;

    client_max_body_size 64m;
    etag off;
    add_header Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0" always;
    add_header Pragma "no-cache" always;
    add_header Expires "0" always;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location ~ /\. {
        deny all;
    }
}
